DO \$\$ DECLARE constraint_name text; BEGIN SELECT constraint_name INTO constraint_name FROM information_schema.table_constraints WHERE table_name = 'recommendation_targets' AND constraint_type = 'FOREIGN KEY' AND constraint_name LIKE '%recommendation_id%'; IF constraint_name IS NOT NULL THEN EXECUTE 'ALTER TABLE public.recommendation_targets DROP CONSTRAINT ' || constraint_name; EXECUTE 'ALTER TABLE public.recommendation_targets ADD CONSTRAINT ' || constraint_name || ' FOREIGN KEY (recommendation_id) REFERENCES public.recommendations(id) ON DELETE CASCADE'; END IF; END \$\$;
